/**********************************
*            Header               *
**********************************/
h1 {
  margin-bottom: 100px;
  padding-top: 100px;
}

header {
  width: auto;
  height: 100vh;
}
