/*********************************
*          Navigation            *
*********************************/

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  margin: 0;
  padding: 3px;
  background-color: darken($darkblue, 20%);
  transform: translateX(-50%); //centrage
  -webkit-backface-visibility: hidden;

  & ul {
    & li {
      display: inline-block;
      text-align: center;
      list-style: none;

      &:hover {
        transform: translateY(4px);
      }

      & + li {
        margin-left: 3rem;
      }
    }
  }

  & a {
    display: block;
    text-align: center;
    font-size: 2rem;
    color: $link;
    cursor: pointer;
  }

  & a:hover {
    color: $hover;
  }
}
