h1, h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  letter-spacing: 0.2rem;
  margin: 0 auto;
}

h4, h5 {
  font-size: 3.3rem;
  color: $white;
  margin: 3rem auto;
}

section:nth-of-type(odd) h3{
  color: $darkblue;
}

section:nth-of-type(even) h3{
  color: $textPrimary;
}

h3 {
  margin: 3rem 0;
  font-size: 3rem;
}

h3:before, h3:after { // les tirets autour du titre
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 3px;
  background: $white;
}

h3:before {
  margin-right: 6px
}

h3:after {
  margin-left: 6px
}

h4 {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  padding: 0 10px;
  width: 75%;
}

h5 {
  font-size: 1.5rem;
  margin-top: -1rem;
}