/*********************************
*            Contact             *
**********************************/

#contact {
  min-height: 100vh;

  & p {
    margin: 20px 0;
  }

  & a {
    padding: 5px 10px;
    border: 1px solid $darkblue;
    border-radius: 50px;

    &:hover {
      color: $textPrimary;
      background-color: $darkblue;
    }
  }
}