/*********************************
*           Langage              *
*********************************/

.langages,
.tools,
.sites {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  width: auto;
  height: 100%;

  & img {
    width: auto;
    height: 150px;
    margin: 10px auto;
    padding: 3px;
    border: $darkblue 2px solid;
    background-color: #eee;
    -webkit-box-shadow: 5px 5px 9px 0 rgba(74, 105, 189, 1);
    -moz-box-shadow: 5px 5px 9px 0 rgba(74, 105, 189, 1);
    box-shadow: 5px 5px 9px 0 rgba(74, 105, 189, 1);
  }
}