/**********************************/
/*            Langage             */
/**********************************/
#langages, #tools, #sites {
  height: 100%;
  width: auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;

  & img {
    height: 150px;
    width: auto;
    border: $darkblue 2px solid;
    padding: 3px;
    margin: 10px auto;
    background-color: #eeeeee;
    -webkit-box-shadow: 5px 5px 9px 0 rgba(74, 105, 189, 1);
    -moz-box-shadow: 5px 5px 9px 0 rgba(74, 105, 189, 1);
    box-shadow: 5px 5px 9px 0 rgba(74, 105, 189, 1);
  }
}